// COLORS
$color-btn-primary: #eb7373;
$color-btn-primary-light: #f17c7c;
$color-btn-primary-dark: #df6565;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;
$bp-large: 62.5em;
$bp-medium: 50em;
$bp-small: 37.5em;