// COLORS
$color-btn-primary: #be4b00;
$color-btn-primary-light: #d15b0c;
$color-btn-primary-dark: #a54607;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;
$bp-large: 62.5em;
$bp-medium: 50em;
$bp-small: 37.5em;