* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html,
body {
	background-color: #fff;
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	text-align: center;
	text-transform: uppercase;
}

.row {
	max-width: 1140px;
	margin: 0 auto;
	max-height: 230px;
}

section {
	padding: 40px 0;
}

header h1 {
	font-weight: 400;
	font-size: 190%;
	margin: 35px 0;
}

.main-nav {
	position: relative;
	list-style: none;
	padding-top: 18px;
	text-align: center;
}

.main-nav li,
.main-nav hr {
	display: inline-block;
	margin-left: 40px;
	text-transform: uppercase;
}

.main-nav hr {
	border: 1px solid #6d6d6d;
	vertical-align: middle;
	width: 15%;
}

.main-nav hr:nth-child(1) {
	margin-left: 0;
}

.header-link:link,
.header-link:visited {
	text-decoration: none;
	color: #000;
	padding: 5px;
	border-bottom: 1px solid transparent;
	-webkit-transition: border-bottom 0.2s;
	transition: border-bottom 0.2s;
}

.header-link:hover,
.header-link:active {
	border-bottom: 1px solid #000;
}

.footer-link:link,
.footer-link:visited {
	text-decoration: none;
	color: #fff;
	padding: 5px;
	border-bottom: 1px solid transparent;
	-webkit-transition: border-bottom 0.2s;
	transition: border-bottom 0.2s;
}

.footer-link:hover,
.footer-link:active {
	border-bottom: 1px solid #fff;
}

.social-media-link:link,
.social-media-link:visited {
	color: #fff;
}

.section-title {
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/Banner-Image.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/Banner-Image.jpg);
	background-size: cover;
	background-position: center;
	height: 70vh;
	margin: 25px 0;
	color: #fff;
}

.section-title p {
	padding-top: 250px;
}

.about-paragraph {
	margin-bottom: 27px;
	text-transform: none;
	font-weight: 500;
	padding: 0 35px;
	background-color: #fff;
	color: #000;
}

.section-about {
	background-color: #dedede;
	padding: 20px 0;
}

.section-about .col {
	vertical-align: middle;
	padding: 20px;
	margin: 35px 5px 25px;
}

.section-about .col h3 {
	margin: 0 0 25px;
}


footer {
	background-color: #343434;
	color: #fff;
	padding: 40px 0 5px;
	text-transform: none;
}

footer h4 {
	margin-bottom: 10px;
}

footer ul {
	list-style: none;
	margin-bottom: 10px;
}

footer p {
	margin: 5px;
}
