*:focus {
    outline: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    background-color: #f9f9f9;
    color: #393939;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    text-align: center;
}

#map {
    height: 280px;
    width: 100%;
    margin: 65px 0;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 40px 0;
}

section h1,
section h2,
section h3 {
    color: #BE6628;
    margin-bottom: 10px;
}

.full {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

header .header-logo {
    width: 560px;
}

.main-nav {
    position: relative;
    list-style: none;
    padding: 18px 0;
    text-align: center;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    text-transform: uppercase;
}

.main-nav li:first-of-type {
    margin-left: 0;
    padding: 0;
}

.header-link:link,
.header-link:visited {
    text-decoration: none;
    color: #393939;
    padding: 5px;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.header-link:hover,
.header-link:active {
    border-bottom: 1px solid #393939;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    color: #f9f9f9;
    padding: 5px;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.footer-link:hover,
.footer-link:active {
    border-bottom: 1px solid #f9f9f9;
}

.social-media-link:link,
.social-media-link:visited {
    font-size: 2em;
    color: #f9f9f9;
}

.section-title {
    background-image: url("/assets/images/background.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 65vh;
    padding: 15px 0;
    color: #f9f9f9;
}

.section-title h1 {
    font-size: 170%;
    text-transform: uppercase;
}

.section-title p {
    width: 65%;
    margin: 0 auto;
}

.section-title hr {
    width: 65%;
    background-color: #fff;
    border: 0;
    margin: 30px auto;
    height: 1.6px;
}

.section-about {
    padding: 0;
}

.about-paragraph {
    width: 60%;
    margin: 35px auto;
    font-weight: 500;
}

.section-about hr {
    background-color: #393939;
    border: 0;
    width: 80%;
    margin: 0 auto;
    height: 1.6px;
}

.about-tiles .row {
    max-width: 80%;
}

.about-tile {
    margin: 35px auto;
}

.about-tile h3 {
    color: #BE6628;
    margin-bottom: 15px;
}

.about-tile p {
    text-transform: none;
    margin-bottom: 25px;
    color: #393939;
}

.about-tile img {
    width: 350px;
}

.section-form {
    padding-top: 0;
}

.section-form .container,
.section-form form {
    padding: 25px;
}

input,
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font: auto 'Raleway', sans-serif;
}

.section-form .container:nth-child(1) {
    margin-bottom: 60px;
}

.section-form form input[type=submit] {
    font: 95% 'Raleway', sans-serif;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    padding-bottom: 3.2px;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.section-form form input[type=submit]:hover {
    border-bottom: 1px solid #393939;
}

footer {
    background-color: #393939;
    color: #fff;
    padding: 15px 0;
    text-transform: none;
}

.footer-row {
    max-width: 35%;
}

footer .full {
    height: 10vh;
}

footer ul {
    list-style: none;
    margin-bottom: 10px;
}

footer li {
    margin: 15px 0;
}
